<p><%= complaint.promotional_opportunities %></p>
<p><%= complaint.promotional_opportunities_description %></p>

<p><%= complaint.compensation %></p>
<p><%= complaint.compensation_description %></p>

<p><%= complaint.history %></p>
<p><%= complaint.history_description %></p>

<p><%= complaint.supporting_documentation %></p>
