<p><strong><%= I18n.t("complaint.show.promotional_opportunities_question") %></strong> <%= display_boolean(complaint.promotional_opportunities) %></p>
<% if complaint.promotional_opportunities %>
  <p><strong><%= I18n.t("complaint.show.if_yes_explain") %>:</strong><br><%= complaint.promotional_opportunities_description %></p>
<% end %>

<p><strong><%= I18n.t("complaint.show.compensation_question") %></strong> <%= display_boolean(complaint.compensation) %></p>
<% if complaint.compensation %>
  <p><strong><%= I18n.t("complaint.show.if_yes_explain") %>:</strong><br><%= complaint.compensation_description %></p>
<% end %>

<p><strong><%= I18n.t("complaint.show.history_question") %></strong> <%= display_boolean(complaint.history) %></p>
<% if complaint.history %>
  <p><strong><%= I18n.t("complaint.show.if_yes_explain") %>:</strong><br><%= complaint.history_description %></p>
<% end %>

<% if complaint.supporting_documentation.present? %>
  <p><strong><%= I18n.t("complaint.show.supporting_documentation_title") %></strong><br><%= complaint.supporting_documentation %></p>
<% end %>
