<%= form_with(model: [employer, complaint])  do |f| %>
	<p>
		<%= f.label :promotional_opportunities %>
		<%= f.check_box :promotional_opportunities %>
	</p>

	<p><%= f.label :promotional_opportunities_description %></p>
	<p><%= f.text_area :promotional_opportunities_description %></p>

	<p>
		<%= f.label :compensation %>
		<%= f.check_box :compensation %>
	</p>
	
	<p><%= f.label :compensation_description %></p>
	</p><%= f.text_area :compensation_description %></p>

	<p>
		<%= f.label :history %>
		<%= f.check_box :history %>
	</p>
	
	<p><%= f.label :history_description %></p>
	<p><%= f.text_area :history_description %></p>

	<p><%= f.label :supporting_documentation %></p>
	<p><%= f.text_area :supporting_documentation %></p>

	<%= f.submit %>
<% end %>
