<h1><%= I18n.t("complaint.show.header", id: @complaint.id, employer_name: @employer.name)%></h1>

<% if current_user %>
	<h3><%= link_to I18n.t("complaint.show.generate"), employer_generate_complaint_path, target: "_blank" %></h3>
<% else %>
	<h3><%= I18n.t("complaint.show.sign_in", sign_in: link_to(I18n.t("header.sign_in"), signin_path(employer: @employer.id, complaint: @complaint.id))) %></h3>
<% end %>

<%= render "display", complaint: @complaint %>
<p>
	<%= render "shared/redirect", back_url: employer_path(@employer) %>
	<%= link_to I18n.t("main.navigation.edit"), edit_employer_complaint_path(@employer, @complaint) %>
	<%= link_to I18n.t("main.navigation.delete"), employer_complaint_path(@employer, @complaint), 
							data: {turbo_method: :delete, turbo_confirm: I18n.t("complaint.delete_confirm") }%>
</p>
