<h1>Details for Complaint #<%= @complaint.id %> (<%= @employer.name %>)</h1>
<h3><%= link_to "Generate Complaint", employer_generate_complaint_path, download: :file %></h3>
<%= render "display", complaint: @complaint %>
<p>
	<%= render "shared/redirect", back_url: employer_path(@employer) %>
  <%= link_to "Edit", edit_employer_complaint_path(@employer, @complaint) %>
	<%= link_to "Delete", employer_complaint_path(@employer, @complaint), 
							data: {turbo_method: :delete,
										 turbo_confirm: "Are you sure you want to delete this complaint?" }%>
</p>
