<h1><%= I18n.t("employers.header") %></h1>
<p><%= I18n.t("employers.description") %></p>
<% @employers.each do |employer| %>
	<section>
		<%= link_to employer.name, employer_path(employer) %> (<%= link_to I18n.t("employers.file_complaint"), new_employer_path(employer_id: employer.id) %>)
	</section>
<% end %>
<%= link_to I18n.t("employers.file_complaint_new"), new_employer_path(employer_id: nil) %>
