<% if params[:employer_id].nil? %>
  <h1><%= I18n.t("employers.new.add_header") %></h1>
  <p><%= I18n.t("employers.new.add_description") %></p>
<% else %>
  <h1><%= I18n.t("employers.new.update_header") %></h1>
  <p><%= I18n.t("employers.new.update_description") %></p>
<% end %>

<%= render "form", employer: @employer %>

<p><%= render "shared/redirect", back_url: employers_path %></p>
