<ul>
  <li><strong><%= welcome_display(current_user) %></strong> | </li>
  <%= link_to "Home", employers_path %>
  <% if current_user.nil? %>
    <li><%= link_to "Sign In", signin_path %></li>
    <li><%= link_to "Sign Up", new_user_path %></li>
  <% else %>
    <li><%= link_to "View Account", user_path(current_user) %></li>
    <li><%= link_to "Sign Out", session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" } %></li>
  <% end %>
</ul>
