<ul>
  <li><strong><%= welcome_display(current_user) %></strong> | </li>
  <%= link_to I18n.t("header.home"), employers_path %>
  <% if current_user.nil? %>
    <li><%= link_to I18n.t("header.sign_in"), signin_path %></li>
    <li><%= link_to I18n.t("header.sign_up"), new_user_path %></li>
  <% else %>
    <li><%= link_to I18n.t("header.view_account"), user_path(current_user) %></li>
    <li><%= link_to I18n.t("header.sign_out"), session_path, data: { turbo_method: :delete, turbo_confirm: I18n.t("header.sign_out_confirm") } %></li>
  <% end %>
</ul>
